@import 'tailwindcss';

@layer base {
	body {
		background: transparent;
		overflow: hidden;
	}

	html,
	#root {
		background: transparent;
	}
}

@font-face {
	font-family: 'Kiwi Maru';
	font-weight: 500;
	font-style: normal;
	src: url('/KiwiMaru-Medium.ttf') format('truetype');
}

@theme {
	--font-inter: 'Inter', sans-serif;
	--font-kiwi-maru: 'Kiwi Maru', font-mono;
}
